#{extends 'main.html' /}
#{set 'moreScripts'}

#{/set}

<script type="text/javascript">
//var html = "<li>":&nbsp<span>" + this.data.messageText + "</span></li>";
//$('#mlist').append(html);
</script>

<div data-role="page" id="chatroom" data-url="/chatroom#${room.name}">
	<div data-role="header">
		<h1>${room.name}</h1>
	</div>
	<!-- /header -->
	<div data-role="content">
		<fieldset style="width: 100%;">
		    <div style="width: 75%;float: left;">
				<input type="text" placeholder="say something" id="message">
		    </div>
		    <div style="float: right;">
				<input type="button" value="2asdsa" id="messagebtn">
		    </div>
		</fieldset>
		<div style="border: 1px solid #000;" id="messages">
			
		</div>
	</div>
	<!-- /content -->
</div>
<!-- /page -->