#{extends 'main.html' /} 
<div data-role="page" id="chatrooms" data-url="/chatrooms">
	<div data-role="header">
		<h1>&{'welcome.header'}</h1>
	</div>
	<!-- /header -->
	<div data-role="content">
		<ul data-role="listview">
		#{list items:rooms, as:'room'}
			<li><form action="@{Application.join}" method="post">
				<input type="hidden" value="${room.id}" name="c.id">
				<input type="submit" value="${room.name}" data-type="button"></form>
			</li> 
		#{/list} 
		#{else}
			<li><a href="#createChatroom">&{'create.room'}</a></li>
		#{/else}
		</ul>
		<!-- /listview-->
	</div>
	<!-- /content -->
</div>
<!-- /page -->

<div data-role="page" id="createChatroom" data-url="createChatroom" rel="external">
	<div data-role="header">
		<h1>&{'welcome.header'}</h1>
	</div>
	<!-- /header -->
	<div data-role="content">
		<form action="@{Application.createChatroom}" method="post">
		<input type="text" name="name" placeholder="name?">
		<input type="submit" value="create.room">
	</div>
	<!-- /content -->
</div>
<!-- /page -->